.news .span4 {
  margin-right: 20px;
}
.news .span4  {
    background-color: #fff;   
    border: 1px solid #ddd;   
    -webkit-border-radius: 4px;   
    -moz-border-radius: 4px;   
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px
}
.news .span4 p {
    border-top: 1px solid #ddd;   
    padding-top: 10px;
}
.news .span4 h4 {
  padding-left: 15px;
  padding-bottom: 0px;
}
.news .span4 p {
  padding-left: 15px;
  padding-right: 15px;
}
.cart {
	  margin-bottom: -2px;
	width: 32px;
	height: 32px;
	background-image: url(../img/cart.png);
	float: left;
	border: none;
}
.cart:hover {
	background-image: url(../img/cart-hover.png);
}
span.cart-number {
  float: right;
  padding-top: 6px;
  padding-left: 0px;
}
#header .pull-right {
    padding-top: 10px;
}
span.footer_rights {
  float: left;
  padding-top: 10px;
  display: inline-block;
}
.dropdown p {
  margin: 0;
  padding: 5px 7px 0;
  float: left;
  font-size: 14px;
}
.navbar li.dropdown {
  margin-top: -4px;
}
.navbar .nav:first-child > li > a:hover{
  background-color: #c7c7c7;
  text-shadow: none;
  }
.nav-list .caption h5 {
  text-align: left;
  padding-bottom: 5px;
  margin: 0px;
}
.nav-list .caption a {
  padding: 0!important;
  margin: 0;
}
.nav-list .caption p {
  text-align: left;
}
header#header {
  display: block!important;
}